*{
    margin: 0;
    padding: 0;
    /* background-color: rgb(157, 250, 159); */
}
.ph_page{
    /* background-color: aqua; */
    height: auto;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}

h1{
    line-height: 1.7;
    font-size: 50px;
}
.phImg{
    width: 700px;
    padding: 20px;
}
.paraph{
    margin:0 13%;
}
p{
    padding: 4px;
    font-size: 20px;
}
.phpoints p{
    font-family: bold;
    color: rgb(7, 79, 233);
}

.tcPlant p{
    color: rgb(101, 99, 99);
}